.header {
	position: relative;
	padding-top: 1rem;
}

.title_combined{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: -0.9rem;
}

.title {
	color: rgba(195,179,216,255);
	font-size: 0.7rem;
	margin-top: 0.5rem;
	font-weight: bold;
}

.title_bottom {
	color: rgba(195,179,216,255);
	margin-top: -1.7rem;
	font-size: 0.7rem;
}

img {
	width: 4.5rem;
	position: relative;
	padding-left: 56.6rem;
	padding-top: 0.5rem;
}